<head>
  <title>{{ .Title }} | FRANK</title>
  <link rel="stylesheet" href="/css/main.css" />

  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="viewport" content="width=1280px" />

  <link
    href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,700"
    rel="stylesheet"
  />

  <link
    href="https://fonts.googleapis.com/css?family=Roboto:300i,700i"
    rel="stylesheet"
  />

  <!-- Favicons -->
  <link
    rel="apple-touch-icon"
    sizes="180x180"
    href="/img/apple-touch-icon.png"
  />
  <link
    rel="icon"
    type="image/png"
    href="/img/favicon-32x32.png"
    sizes="32x32"
  />
  <link
    rel="icon"
    type="image/png"
    href="/img/favicon-16x16.png"
    sizes="16x16"
  />
  <link rel="manifest" href="/manifest.json" />
  <link rel="mask-icon" href="/img/safari-pinned-tab.svg" color="#ff4400" />
  <meta name="theme-color" content="#fff" />

  <!-- Open Graph -->
  <meta property="og:type" content="business.business" />
  <meta property="og:title" content="FRANK | Hotels n Wear rental servise" />
  <meta property="og:url" content="/" />
  <meta property="og:image" content="/img/og-image.jpg" />

  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

  <!-- 追加 -->

  <script
    type="text/javascript"
    src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"
    charset="utf-8"
  ></script>

  <script src="https://code.jquery.com/color/jquery.color-2.1.1.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/protonet-jquery.inview/1.1.2/jquery.inview.js"></script>
  <!-- <script type="text/javascript" src="slide.js"></script> -->

  <script src="https://www.gstatic.com/firebasejs/5.7.3/firebase.js"></script>
  <script>
    // Initialize Firebase
    var config = {
      apiKey: "AIzaSyCQUduvpDqVrfrjZ22AD8nNAkO-qLDESm8",
      authDomain: "login-sample-7541e.firebaseapp.com",
      databaseURL: "https://login-sample-7541e.firebaseio.com",
      projectId: "login-sample-7541e",
      storageBucket: "login-sample-7541e.appspot.com",
      messagingSenderId: "1081220709625"
    };
    firebase.initializeApp(config);
  </script>
</head>
