<div class="how-window">
  <div id="fadeIn" class="how_frank">
    <h1 class="how">HOW FRANK</h1>
    <div class="how_op">
      <h2>宿泊施設向けウェアレンタルサービスです</h2>
      <h4>旅先の宿泊施設へ着てみたいウェアを一日中試着することができます</h4>
    </div>
  </div>
  <div id="fadeIn" class="how_1">
    <img class="how_1_img" src="/img/how_2.png" alt="" />
    <div class="how_1_op">
      <h1>RESERVE</h1>
      <h3>HOTELSから泊まりたい宿泊施設を予約します</h3>
    </div>
  </div>
  <div id="fadeIn" class="how_2">
    <div class="how_1_op">
      <h1>WEAR</h1>
      <h3>WEARからRENTまたはBUYしたいWearを選びます</h3>
    </div>
    <img class="how_2_img" src="/img/how_1.png" alt="" />
  </div>

  <div id="fadeIn" class="how_1">
    <img class="how_1_img" src="/img/how_3.png" alt="" />
    <div class="how_1_op">
      <h1>DELIVERY</h1>
      <h3>FRANKがお泊まりの宿泊施設へ配達します</h3>
    </div>
  </div>
  <div id="fadeIn" class="how_2">
    <div class="how_1_op">
      <h1>RENT</h1>
      <h3>RENTしたWearで1日楽しんでください</h3>
    </div>
    <img class="how_2_img" src="/img/how_4.png" alt="" />
  </div>
  <div id="fadeIn" class="how_1">
    <img class="how_1_img" src="/img/how_5.png" alt="" />
    <div class="how_1_op">
      <h1>BUY</h1>
      <h3>試着したWearはBUYし、指定場所へお届けすることも可能です</h3>
    </div>
  </div>
</div>

<script>
  //   $(function() {
  //     $("#fadeIn").on("inview", function(
  //       event,
  //       isInView,
  //       visiblePartX,
  //       visiblePartY
  //     ) {
  //       if (isInView) {
  //         $(this)
  //           .stop()
  //           .addClass("mv02");
  //       } else {
  //         $(this)
  //           .stop()
  //           .removeClass("mv02");
  //       }
  //     });
  //   });
</script>
