<header>
  <div class="headerlist">
    <a href="/"> <div class="headerlogo"></div> </a>
    <nav>
      <ul>
        <li><a href="/hotel">HOTELS</a></li>
        <li><a href="/wear">WEAR</a></li>
        <li><a href="/store">STORE</a></li>
        <li><a href="/how_frank">HOW</a></li>
        <li><a href="index.html#about">ABOUT</a></li>
        <li class="login"><a href="/login">LOGIN</a></li>
        <li class="cart" id="cart" style="display: none">
          <a href="#">Cart</a>
          <div class="cart_wrap" style="display: none">
            <img class="cart_img" src="/img/cart.png" alt="" />
            <div class="cart_hotel">
              <div class="cart_hotel_box">
                <p id="cart_hotel_title">--</p>
                <p>¥:<span id="cart_hotel_price">--</span></p>
              </div>
            </div>
            <div class="cart_wear">
              <img id="cart_wear_image" src="" alt="" />
              <div class="cart_wear_box">
                <p id="cart_wear_title">--</p>
                <p>¥:<span id="cart_wear_rent">--</span></p>
                <p>
                  <span id="cart_wear_color">--</span>
                  <span id="cart_wear_size">--</span>
                </p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </nav>
  </div>

  <!-- トップ画像 -->
</header>
