<div id="demo_2_wrapper" class="window">
  <div id="demo_2">
    <svg
      version="1.1"
      id="svg_1"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      width="300px"
      height="70px"
      viewBox="0 0 325.53 100.018"
      enable-background="new 0 0 325.53 100.018"
      xml:space="preserve"
    >
      <g>
        <path
          fill="#FFFFFF"
          d="M53.358,47.533h22.211l-1.871,13.587H51.487l-2.767,19.852H33.995l8.055-57.603h40.11l-1.953,13.831H54.823
            L53.358,47.533z"
        />
        <path
          fill="#FFFFFF"
          d="M100.794,62.666h-2.604l-2.522,18.306H80.942l8.055-57.603h23.025c11.878,0,20.34,6.346,18.713,19.852
            c-1.465,10.658-6.021,14.238-13.913,17.98l13.831,19.771H112.51L100.794,62.666z M108.523,50.137c4.475,0,7.078-3.335,7.485-6.671
            c0.407-3.499-1.302-6.509-5.614-6.509h-8.542l-1.872,13.18H108.523z"
        />
        <path
          fill="#FFFFFF"
          d="M182.076,80.972h-15.621l-2.197-11.553h-15.377l-5.125,11.553h-15.621l28.15-57.603h13.262L182.076,80.972z
             M162.631,56.483l-1.708-16.842h-0.57l-6.346,16.842H162.631z"
        />
        <path
          fill="#FFFFFF"
          d="M193.876,23.37h13.831l10.496,24.57l3.254,11.553l0.325-0.082l-0.163-9.926l3.661-26.116h14.482
            l-8.055,57.603h-14.727l-9.844-22.699l-3.417-11.553l-0.326,0.082l0.163,11.146l-3.173,23.025h-14.563L193.876,23.37z"
        />
        <path
          fill="#FFFFFF"
          d="M279.146,23.37h18.143l-26.768,28.313l18.631,29.29h-18.306l-12.042-20.584l-0.569,0.651l-2.766,19.933
            h-14.645l8.055-57.603h14.645l-3.011,21.316L279.146,23.37z"
        />
      </g>
    </svg>
  </div>
</div>

<script>
  //   $(function() {
  //     add_hue();

  //     function add_hue() {
  //       var $target = $("#demo_2").find(".ca");
  //       var speed = 5000;
  //       var hue =
  //         "rgb(" +
  //         Math.floor(Math.random() * 256) +
  //         "," +
  //         Math.floor(Math.random() * 256) +
  //         "," +
  //         Math.floor(Math.random() * 256) +
  //         ")";

  //       $target.animate(
  //         {
  //           backgroundColor: hue
  //         },
  //         speed,
  //         function() {
  //           add_hue();
  //         }
  //       );
  //     }
  //   });

  $(function() {
    // offset()の引数に移動先の位置を指定
    var offset = $("#demo_2").offset({
      top: window.innerHeight / 2 - 35,
      left: window.innerWidth / 2 - 100
    });
  });

  $(function() {
    function gld() {
      //背景の変更
      $(".window").animate(
        {
          //   color: "#FFFFFF",
          backgroundColor: "#fff"
        },
        500
      );

      //animateメソッドではfillは対応してないので
      //Color.hookを利用する
      jQuery.Color.hook("stroke fill");

      var $svganime = $("#demo_2 svg polygon,#demo_2 svg path");

      $svganime.animate(
        {
          fill: "#666"
        },
        500
      );
    }

    gld();
  });

  function tran() {
    $("#demo_2").animate({ top: "0px", left: "0px" }, 1000, "easeOutQuart");
  }
  $(function() {
    setTimeout(function() {
      tran();
    }, 600);
  });

  $(function() {
    setTimeout(function() {
      $("#demo_2_wrapper").fadeOut(100);
    }, 1600);
  });
</script>
