body {
  font-family: Roboto, "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体",
    "ヒラギノ角ゴ Pro", "メイリオ", sans-serif;
  line-height: 1.75;
  font-size: 16px;
  margin: 0;
  height: 100%;
}

a:focus {
  box-shadow: none;
}

/* start.html */

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.window {
  opacity: 1;
  position: fixed;
  z-index: 5;
  background: #555;
  height: 100%;
  width: 100%;
  animation: fadeOut 0.4s ease-in-out 1.3s forwards;
}

#demo_2 {
  height: 600px;
  width: 100%;
}

/* h1 {
text-align: center;
font-family: "Source Sans Pro", sans-serif;
font-style: italic;
font-weight: 1500; 
height: 200px;
width: 500px;
color: #eee;
}  */

#svg_1 {
  display: flex; /* 変更なし */
  align-items: flex-start; /* 変更なし */
  width: 235px; /* 変更なし */
  height: 115px; /* 変更なし */
  transition: opacity 0.3s ease-out;
}

polygon,
path {
  fill: none;
  stroke: #ccc;
  stroke-width: 2;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
}

/*　パディングをサイズ内側にする処理　*/
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

/* ヘッダー */

/* .header {
    background-color: white;
    font-size: 21px;
    height: 80px;
    border: solid 1px #efefef;
  } */

.headerlogo {
  width: 200px;
  height: 80px;
  background: url("/img/FRANK_og.svg") no-repeat;
  background-size: contain;
  float: left;
  margin: 20px 20px 20px 20px;
}

/* .headerlist {
    display: flex;
  } */

a {
  text-decoration: none;
}

a:visited {
  color: #555555;
}

a:active {
  color: #aaa;
}

a:hover {
  color: #aaa;
}

nav ul {
  display: flex;
}

nav li {
  color: #aaa;
  font-size: 20px;
  margin-right: auto;
  list-style: none;
  padding: 45px 30px;
}

nav li.login {
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  margin-left: auto;
}

.cart {
  z-index: 1;
  position: relative;
}

.cart_wrap {
  position: absolute;
  top: 100px;
  left: -130px;
  width: 250px;
  height: 400px;
  background: #eee;
  color: #555;
  border-radius: 10px;
  text-align: center;
}

.cart_wrap h1 {
  font-size: 25px;
}

.cart_img {
  width: 30px;
  height: 30px;
}

.cart_hotel {
  width: 200px;
  height: 70px;
  background: #fff;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}

.cart_hotel_box {
  line-height: 5px;
  padding-top: 20px;
}

.cart_wear {
  width: 200px;
  height: 250px;
  background: #fff;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}

#cart_wear_image {
  margin-top: 10px;
  height: 100px;
  width: 100px;
}

.cart_wear_box {
  line-height: 5px;
  padding-top: 20px;
}

.toppic {
  width: 100%;
  height: 600px;
}

.top_sample {
  object-fit: cover;
  width: 100%;
  height: 600px;
}

#slideArea li {
  height: 600px;
  width: auto;
  display: none;
}

/* how_frank.html */
/* #fadeIn {
  opacity: 0;
}
.mv02 {
  opacity: 1;
} */

.how-window {
  width: 100%;
  height: 100%;
  font-style: italic;
}

.how_frank {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #eee;
  display: flex;
  align-items: center;
}

.how {
  height: 60px;
  max-width: 500px;
  margin-left: 200px;
  font-size: 50px;
  font-weight: 800;
}

.how_op {
  height: 60px;
  max-width: 500px;
  margin-left: 100px;
  padding-top: 20px;
}

.how_1 {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.how_1_op {
  max-width: 500px;
  /* margin-left: 100px; */
}
.how_1_op h1 {
  font-weight: 900;
}

.how_1_op h3 {
  font-size: 17px;
}

.how_1_img {
  max-width: 500px;
  /* margin-left: 200px; */
}

.how_2 {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
}

.how_2_img {
  max-width: 500px;
  /* margin-right: 100px; */
}

/* hotel.html */

/* .hotels {
  height: 150px;
  width: auto;
  margin-left: 200px;
  margin-top: 100px;
  background: #aaa;
  display: flex;
  justify-content: left;
}

.hotels_pics {
  height: 150px;
  width: 200px;
  background: url(/dist/img/hotel_sample.jpg) no-repeat center;
  background-size: center;
}

.hotel_sample {
  object-fit: cover;
  height: 100%;
  width: 100%; */
/* } */

.hotels {
  height: 130px;
  width: 900px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  border: solid #eee;
  display: flex;
  justify-content: left;
  color: #333;
}

.hotels_pics {
  height: 124px;
  width: 200px;
  background: no-repeat center;
  background-size: cover;
}

.di {
  height: 130px;
  width: 300px;
  margin-left: 60px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.hotels_name {
  margin: 35px 35px 20px;
  max-width: 300px;
  font-size: 25px;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
  line-height: 20px;
}

.access {
  font-size: 12px;
  font-style: italic;
}

.fukuoka {
  margin: 10px 67px;
}

.price {
  height: 130px;
  width: 200px;
  text-align: center;
}

.reserve {
  margin-top: 35px;
  margin-bottom: 2px;
}

.reserve_btn_wrap {
  height: 130px;
  width: 200px;
  text-align: center;
}

.reserve_btn {
  display: inline-block;
  margin-top: 40px;
  height: 50px;
  width: 100px;
  border: solid #eee;
  line-height: 43px;
}

/* wear.html */

/* sideNav */

.nav_wrap {
  display: flex;
}

.side_nav {
  flex: 0;
  flex-basis: 150px;
  width: 150px;
  color: #555555;
  height: 600px;
  border: solid #eee;
  border-left: none;
}

#side {
  padding: 15px 10px;
  font-size: 18px;
}

.container {
  max-width: 1500px;
  margin-top: -20px;
  padding-left: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.item {
  width: 300px;
  height: 300px;
  border: solid #eee;
  margin: 20px 20px;
}

.pics {
  text-align: center;
}

.item_pic {
  height: 200px;
  width: 200px;
  margin-top: 20px;
}

.item_price {
  height: 50px;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

#price_wrap {
  height: 50px;
  width: 100px;
  border: solid #eee;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.tag {
  font-size: 3px;
  margin-bottom: 0.5px;
}

/* wear_detail.html */

.container_section {
  height: 740px;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.item_detail {
  height: 740px;
  width: 1000px;
  display: flex;
  margin-left: 50px;
}

.item_pics {
  height: 500px;
  width: 600px;
  margin-left: 10px;
}

.item_pics_big img {
  height: 600px;
  width: 550px;
}

/* small画面 */
.item_pic_small {
  width: 600px;
  height: 100px;
  display: flex;
  justify-content: flex-start;
}

.item_pic_small img {
  widows: 50px;
  height: 50px;
  margin-left: 10px;
}

.item_pics .wear-image-big {
  display: none;
}

.item_pics .wear-image-big.active {
  display: block;
}

.container_detail {
  display: flex;
}
.name_detail {
  height: 550px;
  width: 400px;
  color: #555555;
  margin-left: 30px;
}

.ttl {
  font-size: 35px;
  font-weight: 700;
  line-height: 30px;
  margin-bottom: 0px;
}

.brand_store_name {
  margin-top: 10px;
  font-size: 18px;
}
.detail_price {
  height: 80px;
  width: 400px;
  margin-top: 20px;

  display: flex;
  align-content: center;
}

.tax {
  font-size: 10px;
}

.buy_taxt {
  margin-left: 50px;
}

.select_wrap {
  margin-bottom: 10px;
}

.select_box {
  width: 100%;
  height: 30px;
  font-size: 11px;
  border: 1px solid #ccc;
}
select {
  outline: none;
}

.count {
  height: 30px;
  width: 60px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 15px;
  text-align: left;
}

.wear_btn_wrap {
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.wear_btn {
  font-weight: bold;
  color: #eee;
  height: 40px;
  width: 180px;
  border-radius: 5px;
  background-color: #aaa;
  text-align: center;
  line-height: 40px;
}

/* footer */

.footer {
  margin-top: 20px;
}

.footer_ttl {
  font-size: 30px;
  font-weight: bold;
  color: #555555;
}

.footer_wrap {
  max-width: 1100px;
  max-height: 500px;
  border: solid #eee;
  margin-left: auto;
  margin-right: auto;
}

.db path {
  fill: #555;
}

/* 
store.html */

button:hover {
  color: #aaa;
  background-color: #eee;
}
.store {
  height: 130px;
  width: 900px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  border: solid #eee;
  display: flex;
  justify-content: left;
  color: #333;
}

.store_pics {
  height: 124px;
  width: 200px;
  background: url("/img/store_sample.jpg") no-repeat center;
  background-size: cover;
}

.Brands_wrap {
  height: 130px;
  width: 200px;
  text-align: center;
  display: table;
}

.outer {
  display: table-cell;
  vertical-align: middle;
}

.brands {
  font-weight: 700;
}

/* store_detail.html */

.store_detail_pics {
  max-width: 600px;
  max-height: 400px;
}

.map_btn {
  font-weight: bold;
  color: #eee;
  height: 40px;
  width: 180px;
  border-radius: 5px;
  margin-top: 20px;
  background-color: #aaa;
  text-align: center;
  line-height: 40px;
}

.store_detail {
  height: 400px;
  width: 100%;
  display: flex;
  margin-left: 100px;
  margin-bottom: 50px;
}

.map {
  width: 100%;
  height: 450px;
  margin-left: 100px;
}

.map_btn:hover {
  color: #555555;
}

.store_container_section {
  height: 500px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}
