{{ define "main" }}

<div class="nav_wrap">
  {{ partial "sidenav" . }}
  <div class="container_section">
    <form action="">
      <div class="item_detail">
        <div class="item_pics">
          <img class="wear_item_pic" src="{{ .Params.image }}" alt="" />
        </div>
        <div class="name_detail">
          <h3 class="ttl">{{ .Title }}</h3>
          <h3 class="name_jpn">{{ .Params.Jptitle }}</h3>
          <div class="brand_store_name">
            <h4>
              Brand: <a class="brand-name"> {{ .Params.brandname }}</a>
            </h4>
            <h4>
              Store: <a class="store-name"> {{ .Params.storename }}</a>
            </h4>
          </div>
          <div class="detail_price">
            <div class="rent_text">
              <p>
                RENT <br />
                ¥{{ .Params.Rent }} <span class="tax">(tax in)</span>
              </p>
            </div>
            <div class="buy_taxt">
              <p>
                BUY <br />
                {{ .Params.Buy }}<span class="tax">(tax in)</span>
              </p>
            </div>
          </div>
          <div class="select_wrap">
            <h5>Color</h5>
            <select name="color" class="select_box" id="">
              <option label="select" value="">Select</option>
              <option label="navy" value="">Navy</option>
              <option label="olive" value="">Olive</option>
              <option label="black" value="">Black</option>
              <option label="white" value="">White</option>
            </select>
          </div>
          <div class="select_wrap">
            <h5>Size</h5>
            <select name="size" class="select_box" id="">
              <option label="select" value="">Select</option>
              <option label="S" value="">S</option>
              <option label="M" value="">M</option>
              <option label="L" value="">L</option>
              <option label="XL" value="">XL</option>
            </select>
          </div>
          <div class="quantity">
            <h5>Count</h5>
            <input type="number" class="count" value="1" maxlength="5" />
          </div>
          <div class="wear_btn_wrap">
            <div class="wear_btn"><a href="">RENT</a></div>
            <div class="wear_btn"><a href="">BUY</a></div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

{{ end }}
