{{ define "main" }}

<div class="nav_wrap">
  {{ partial "sidenav" . }}
  <div class="container_section">
    <form action="">
      <div class="item_detail">
        <div class="item_pics">
          <div class="item_pics_big">
            {{ if .Params.image }}
            <img
              id="big_1"
              class="wear-image-big active"
              src="{{ .Params.image }}"
              alt=""
            />
            {{ end }} {{ if .Params.image2 }}
            <img
              id="big_2"
              class="wear-image-big"
              src="{{ .Params.image2 }}"
              alt=""
            />
            {{ end }}{{ if .Params.image3 }}
            <img
              id="big_3"
              class="wear-image-big"
              src="{{ .Params.image3 }}"
              alt=""
            />
            {{ end }}
          </div>

          <div class="item_pic_small">
            {{ if .Params.image }}
            <img
              id="small_1"
              class="wear-image-small"
              src="{{ .Params.image }}"
              alt=""
            />
            {{ end }} {{ if .Params.image2 }}
            <img
              id="small_2"
              class="wear-image-small"
              src="{{ .Params.image2 }}"
              alt=""
            />
            {{ end }}{{ if .Params.image3 }}
            <img
              id="small_3"
              class="wear-image-small"
              src="{{ .Params.image3 }}"
              alt=""
            />
            {{ end }}
          </div>
        </div>
        <div class="name_detail">
          <h3 class="ttl">{{ .Title }}</h3>
          <h3 class="name_jpn">{{ .Params.Jptitle }}</h3>
          <div class="brand_store_name">
            <h4>
              Brand: <a class="brand-name"> {{ .Params.brandname }}</a>
            </h4>
            <h4>
              Store: <a class="store-name"> {{ .Params.storename }}</a>
            </h4>
          </div>
          <div class="detail_price">
            <div class="rent_text">
              <p>
                RENT <br />
                ¥{{ .Params.Rent }} <span class="tax">(tax in)</span>
              </p>
            </div>
            <div class="buy_taxt">
              <p>
                BUY <br />
                {{ .Params.Buy }}<span class="tax">(tax in)</span>
              </p>
            </div>
          </div>
          <div class="select_wrap">
            <h5>Color</h5>
            <select name="color" class="select_box" id="wear_color">
              {{ range $color := .Params.colors }}
              <option
                label="{{ $color }}"
                value="{{ $color }}"
                >{{ $color -}}</option
              >
              {{ end -}}
            </select>
          </div>
          <div class="select_wrap">
            <h5>Size</h5>
            <select name="size" class="select_box" id="wear_size">
              {{ range $size := .Params.sizes }}
              <option
                label="{{ $size }}"
                value="{{ $size }}"
                >{{ $size -}}</option
              >
              {{ end -}}
            </select>
          </div>
          <div class="quantity">
            <h5>Count</h5>
            <input
              type="number"
              id="wear_count"
              class="count"
              value="1"
              maxlength="5"
            />
          </div>
          <div class="wear_btn_wrap">
            <div class="wear_btn" id="rent_btn"><a href="#">RENT</a></div>
            <div class="wear_btn" id="buy_btn"><a href="">BUY</a></div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<script>
  var db = firebase.firestore();
  var settings = { timestampsInSnapshots: true };
  db.settings(settings);

  $(function() {
    var userId = "";
    firebase.auth().onAuthStateChanged(function(user) {
      if (user) {
        userId = user.uid;
        // User is signed in.
      } else {
        $(".wear_btn").css({ opacity: 0.3 });
        // No user is signed in.
      }
    });

    $(".wear-image-small").hover(function() {
      $(".wear-image-big").hide();
      var idNum = $(this)[0].id.replace("small_", ""); // 数字だけ
      $("#big_" + idNum).show();
    });

    $("#rent_btn").click(function() {
      var wearRef = db
        .collection("users")
        .doc(userId)
        .collection("wears")
        .doc("{{ .File.BaseFileName }}");

      var color = $("#wear_color").val();
      var size = $("#wear_size").val();
      var count = Number($("#wear_count").val());

      wearRef.set({
        color, // color: color, のこと　今っぽい
        size,
        count
      });
    });
  });
</script>

{{ end }}
