{{ define "main" }}

<div class="hotels">
  <div class="hotels_pics"></div>
  <div class="di">
    <!-- <p class="fukuoka">Fukuoka</p> -->
    <p class="hotels_name">FRANK HOTEL</p>
    <p class="access">福岡県福岡市中央区XXXXXXX</p>
  </div>
  <div class="price">
    <p class="reserve">Price</p>
    <div>¥10,000/1名</div>
  </div>

  <div class="reserve_btn_wrap">
    <button class="reserve_btn">Reserve</button>
  </div>
</div>

<div class="hotels">
  <div class="hotels_pics"></div>
  <div class="di">
    <!-- <p class="fukuoka">Fukuoka</p> -->
    <p class="hotels_name">FRANK HOTEL</p>
    <p class="access">福岡県福岡市中央区XXXXXXX</p>
  </div>
  <div class="price">
    <p class="reserve">Price</p>
    <div>¥10,000/1名</div>
  </div>

  <div class="reserve_btn_wrap">
    <button class="reserve_btn">Reserve</button>
  </div>
</div>

<div class="hotels">
  <div class="hotels_pics"></div>
  <div class="di">
    <!-- <p class="fukuoka">Fukuoka</p> -->
    <p class="hotels_name">FRANK HOTEL</p>
    <p class="access">福岡県福岡市中央区XXXXXXX</p>
  </div>
  <div class="price">
    <p class="reserve">Price</p>
    <div>¥10,000/1名</div>
  </div>

  <div class="reserve_btn_wrap">
    <button class="reserve_btn">Reserve</button>
  </div>
</div>

{{ end }}
