{{ define "main" }}

<div>
  <div>
    {{ range (.Paginate (.Pages.ByPublishDate.Reverse) 10).Pages -}}
    {{ .Render "hotel_li"}} {{ end }}
  </div>
  {{ partial "pagination" . }}
</div>

<script>
  $(function() {
    firebase.auth().onAuthStateChanged(function(user) {
      if (user) {
        // User is signed in.
      } else {
        $(".reserve_btn").css({ opacity: 0.3 });
        // No user is signed in.
      }
    });
    $(".reserve_btn").click(function() {
      var current_id = $(this)[0].id.replace("reserve_btn-", "");
      var current_title = $(this).data("title");
      var current_price = $(this).data("price");
      var userRef = db.collection("users").doc(userId);

      userRef.set(
        {
          hotel: {
            id: current_id,
            title: current_title,
            price: current_price
          }
        },
        { merge: true }
      );
    });

    $(".reserve_btn").modaal({
      width: 500,
      after_close: function() {
        location.reload();
      }
    });
  });
</script>
{{ end }}
