{{ define "main" }}

<div class="store">
  <div class="store_pics"></div>
  <div class="di">
    <!-- <p class="fukuoka">Fukuoka</p> -->
    <h1 class="hotels_name">FRANK STORE</h1>
    <p class="access">福岡県福岡市中央区大名XXXXXXX</p>
  </div>
  <div class="Brands_wrap">
    <div class="outer">
      <h2 class="brands">Brands</h2>
      <h4>Frank wear etc</h4>
    </div>
  </div>

  <div class="reserve_btn_wrap">
    <a href="/store_detail"> <button class="reserve_btn">detail</button> </a>
  </div>
</div>

<div class="store">
  <div class="store_pics"></div>
  <div class="di">
    <!-- <p class="fukuoka">Fukuoka</p> -->
    <h1 class="hotels_name">FRANK STORE</h1>
    <p class="access">福岡県福岡市中央区大名XXXXXXX</p>
  </div>
  <div class="Brands_wrap">
    <div class="outer">
      <h2 class="brands">Brands</h2>
      <h4>Frank wear etc</h4>
    </div>
  </div>

  <div class="reserve_btn_wrap">
    <a href="/store_detail"> <button class="reserve_btn">detail</button></a>
  </div>
</div>

<div class="store">
  <div class="store_pics"></div>
  <div class="di">
    <!-- <p class="fukuoka">Fukuoka</p> -->
    <h1 class="hotels_name">FRANK STORE</h1>
    <p class="access">福岡県福岡市中央区大名XXXXXXX</p>
  </div>
  <div class="Brands_wrap">
    <div class="outer">
      <h2 class="brands">Brands</h2>
      <h4>Frank wear etc</h4>
    </div>
  </div>

  <div class="reserve_btn_wrap">
    <button class="reserve_btn">detail</button>
  </div>
</div>
{{ end }}
