{{ define "main" }}


<!-- サイドナビゲーション -->

<div class="nav_wrap">
        <div class="side_nav">
          <div id="side" class="jacket">Jacket</div>
          <div id="side" class="shirts">shirts</div>
          <div id="side" class="knit">Knit</div>
          <div id="side" class="sweats">Sweats</div>
          <div id="side" class="pants">Pants</div>
          <div id="side" class="lstee">L/S Tee</div>
          <div id="side" class="sstee">S/S Tee</div>
          <div id="side" class="caps">Caps</div>
          <div id="side" class="shoes">Shoes</div>
        </div>
  
        <!-- ウェアボックス -->
  
        <div class="container">
          <div   class="item">
            <div class="pics">
              <a class="item_detail_page" href="/wear_detail">
              <img class="item_pic" src="/img/j1.jpg" alt="" />
            </a>            
            </div>
            <div class="item_price">
              <div id="price_wrap" class="rent">
                <p class="tag">RENT</p>
                <p class="price_tag">¥3,000</p>
              </div>

              <div id="price_wrap" class="buy">
                <p class="tag">BUY</p>
                <p class="price_tag">¥23,000</p>
              </div>
            </div>
          </div>
  
          <div class="item">
            <div class="pics">
              <img class="item_pic" src="/img/j1.jpg" alt="" />
            </div>
          </div>
          <div class="item">
            <div class="pics">
              <img class="item_pic" src="/img/j1.jpg" alt="" />
            </div>
          </div>
          <div class="item">
            <div class="pics">
              <img class="item_pic" src="/img/j1.jpg" alt="" />
            </div>
          </div>
          <div class="item">
            <div class="pics">
              <img class="item_pic" src="/img/j1.jpg" alt="" />
            </div>
          </div>
          <div class="item">
            <div class="pics">
              <img class="item_pic" src="/img/j1.jpg" alt="" />
            </div>
          </div>
        </div>
      </div>
    </body>

    {{ end }}